<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Project Soteria</title>
     <meta name="description" content="Project Soteria is dedicated to getting the most relevant time sensitive activity data as possible">
     <meta name="author" content="Project Soteria">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<h2 class="heading"> Project Soteria </h2>
    <div class="split left">
      <div class="centered">
        <button onclick="window.location.href='/times'" class="button">Times</button>
      </div>
    </div>

    <div class="split right">
      <div class="centered">
        <button onclick="window.location.href='/scheduler'" class="button">Schedule</button>
      </div>
    </div>
</body>
</html>