<!DOCTYPE html>
<html>
    <!-- Author: Daniel Leef, Last Modified: May 23 -->
    <title>Soteria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/soteria.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/img/favicon.ico') }}">
    <script type = "text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZFKIOvAOaqbLQ6FlrrxCMPBofdoNYTUs&libraries=places"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/soteria.js')}}"></script>
    <body>
        <h1>SOTERIA</h1>
        <div class="tab">
            <button class="tablinks" onclick="displayMode(event, 'BST')" id="defaultOpen">Best Time</button>
            <button class="tablinks" onclick="displayMode(event, 'BFT')" id = "bft_button">Best Places</button>
            <button class="tablinks" onclick="displayMode(event, 'SCHEDULE')" id = "sched_button">Schedule</button>
        </div>
        <div id="BST" class="tabcontent">
            <h3>Best Time</h3>
                <h4>Purpose: this mode accepts a specific place and returns its corresponding busy times</h4>
                <p>Instructions</p>
                    <li>1. Enter a specific place you'd like to go (e.g. specific restaurant, store, public park)</li>
                    <li>2. Click 'Submit' to see popular times for the inputted place</li>

            <input type = "text" id = "BST_INPUT">
            <input type = "button" id = "submit" value = "Submit" onclick = "submitBST()">
        </div>
                  
        <div id="BFT" class="tabcontent">
            <h3>Best Places</h3>
                <h5>Note: * next to certain places means the data needed to be simulated due to lack of readily available real data</h5>
                <h4>Purpose: this mode accepts a general query for places and returns results with their corresponding busy times</h4>
                <p>Instructions</p>
                    <li>1. Enter a general place query that includes your location (e.g. parks in Portland, restaurants in Eugene, post offices in San Francisco)</li>
                    <li>2. Click 'Submit' to see places returned from your query with their corresponding busy times</li>
            <input type = "text" id = "BFT_INPUT">
            <input type = "button" id = "submit" value = "Submit" onclick = "submitBFT()">
        </div>
                  
        <div id="SCHEDULE" class="tabcontent">
            <h3>Schedule</h3>
            <h5>Note: * next to certain places means the data needed to be simulated due to lack of readily available real data</h5>
            <h4>Purpose: this mode accepts your schedule and returns an optimal schedule based on the least busy times for the places you enter</h4>
                <p>Instructions</p>
                    <li>1. Fill out a schedule with places you plan on going to (e.g. specific restaurant, store, public park)</li>
                    <li>2. Fill out the times you plan on going to each place</li>
                    <li>3. Include a priority for going to every place on a scale from 1-5, with 1 being highest priority and 5 being lowest (entries can have the same priority!). Priorities should correspond to the expected busyness of places (more crowded = higher priority).</li>
                    <li>4. Scroll to the right and click 'Add another row' to add more entries (make sure to scroll down within the scheduler to view added rows) </li>
                    <li>5. Every row except for the first can be deleted by clicking 'Delete this row' located on the far right of each additional row
                    <li>6. Once all rows are filled in properly, click 'Submit' to view an optimal schedule with the least busy times for your inputted places (to reset, refresh the page)</li>
                    <table id = "schedule-table" width = "400px">
                        <tr>
                            <td>
                              <label for="priority">Priority:</label>
                            <select name="values" class = "priority" id="priority">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select></td>
                            <td><input type = "text" id = "SCHEDULE_INPUT"></td>
                            <td><label for = "from">From: </label></td>
                            <td>  
                                    <input type="time" id="from" name="appt"
                                    min="09:00" max="18:00" required>
                            </td>
                            <td><label for = "to">To: </label></td>
                            <td>  
                                    <input type="time" id="to" name="appt"
                                    min="09:00" max="18:00" required>
                            </td>
                            <!-- <td><input type = "button" id = "delete" value = "Delete this row" onclick = "deleteRow(this)"></td> -->
                            <td><input type = "button" id = "add" value = "Add another row" onclick = "insertRow(deleteRow)"></td>
                        </tr>
                        <input type = "button" id = "submit" value = "Submit" onclick = "submitSCHEDULE()">
                    </table>
        </div>
                  <div id = "OUTPUT" class = "parent">
                    <h1 id = "output_title"></h1>
                  </div>
        <script>
            document.getElementById("defaultOpen").click();
            // var from = document.getElementById('appt')
            // var to = document.getElementById('appt2')
            var auto_listeners = [];
            var auto_rows = [];
            var current_row = 1;
            var sched_id = 1;
            var del_rows = [];
            var places = {};
            var bst_place;
            var output_displayed = false;
            var loadingInterval;
            var loopItem = 0;
            var dots = [" .", " . .", " . . ."];
            //var table = document.getElementById("schedule-table");
            var auto_bst;
            // var auto_bft;
            var auto_schedule;
            var bst_input = $("#BST_INPUT")[0];
            // var bft_input = $("#BFT_INPUT")[0];
            var schedule_input = $("#SCHEDULE_INPUT")[0];

            auto_bst = new google.maps.places.Autocomplete(bst_input);
            // auto_bft = new google.maps.places.Autocomplete(bft_input);
            auto_schedule = new google.maps.places.Autocomplete(schedule_input);
            auto_bst.setFields(['place_id', 'geometry', 'name', 'formatted_address', 'type']);
            // auto_bft.setFields(['name']);
            auto_schedule.setFields(['place_id', 'geometry', 'name', 'formatted_address', 'type']);
            initialize();
            // var apptIndex = 1;
        </script>
</body>
</html>